<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".n4x" mimeType="application/n4x" />
            <mimeMap fileExtension=".as" mimeType="application/as" />
            <mimeMap fileExtension=".inv" mimeType="application/inv" />
            <mimeMap fileExtension=".bm" mimeType="application/bm" />
            <mimeMap fileExtension=".gng" mimeType="application/gng" />
            <mimeMap fileExtension=".des" mimeType="application/des" />
            <mimeMap fileExtension=".cif" mimeType="application/cif" />
            <mimeMap fileExtension=".w98" mimeType="application/w98" />
            <mimeMap fileExtension=".mil" mimeType="application/mil" />
            <mimeMap fileExtension=".n5x" mimeType="application/n5x" />
            <mimeMap fileExtension=".w32" mimeType="application/w32" />
            <mimeMap fileExtension=".cdm" mimeType="application/cdm" />
            <mimeMap fileExtension=".plt" mimeType="application/plt" />
            <mimeMap fileExtension=".ini" mimeType="application/ini" />
            <mimeMap fileExtension=".w95" mimeType="application/w95" />
            <mimeMap fileExtension=".bkf" mimeType="application/bkf" />
        </staticContent>
    </system.webServer>
</configuration>
